/*** ZenHub styling ***/
.zh-button, .is-not-pawed:hover .zh-paw-btn-inner, .popover li:hover,
.zh-select-menu-item.navigation-focus {
  background: /*[[base-color]]*/ #4183C4 !important;
  border-color: /*[[base-color]]*/ #4183C4 !important;
  color: #fff !important;
}
li.zh-pipeline-issue.selected .zh-issuecard-container {
  border-color: /*[[base-color]]*/ #4183C4 !important;
}
.zh-pipeline-issue-toggler:hover, .date_selector .date-button,
.zh-todo-link:hover .zh-todo-navbar-icon {
  color: /*[[base-color]]*/ #4183C4 !important;
}
/* background */
li.new-pipeline-column, .zh-epic-creator-top, .zh-epic-creator-nav {
  background: transparent !important;
}
.zh-overlay {
  background-color: rgba(0,0,0,.9) !important;
}
.zh-board-menu-item .octicon, .zh-milestone-header .octicon {
  background-image: none !important;
  border-color: transparent !important;
  border-right-color: #333 !important;
  color: #ddd !important;
}
.zh-issue-placeholder, .zh-issueviewer-content, .zh-board-menu-item button,
.zh-board-menu-item button, .zh-todo-item-not-sortable,
.zh-todo-item-placeholder, .zh-todolist-menu-item-placeholder {
  background-color: #111 !important;
  border-color: #484848 !important;
}
li.zh-pipeline, .zh-schema-pipelines, .zh-pipeline-issue-heading,
.zh-connect-repository-container, .burndown-chart, .zh-todolist-box,
.zh-issueviewer-title, .zh-timeline-comment, .zh-epic-issue-list-container,
.zh-epic-issue-list-container li, .zh-epic-creator-issue-list,
.zh-epic-creator-issue-list li, .zh-epic-creator-tab {
  background: #181818 !important;
  border-color: #484848 !important;
}
.zh-pipeline-issue-content, .zh-issue-meta, .zh-pipeline-issue-action,
.zh-pipeline-heading-container, .zh-button-grey, .zh-schema-title,
.zh-milestone-dates, .zh-burndown-chart .milestone-start-calendar-container,
.zh-toggle-button.selected, .popover li, .zh-todo-item,
div.zh-issuecard-container, .zh-onboarding-modal,
.zh-onboarding-tooltip-target, .zh-onboarding-tooltip, .zh-login-status,
.zh-board-loading-message, .zh-select-menu-header,
.zh-timeline-comment-header, .zh-epic-issue-list-footer,
.zh-epic-issue-list-container li:hover, .zh-epic-creator-issue-list li:hover,
.zh-epic-creator-tab.selected {
  background: #222 !important;
  border-color: #484848 !important;
}
.zh-uploader-drop, .zh-button-grey.selected, .zh-button-grey:hover,
.is-not-pawed:not(.zh-paw-count-0), .zh-board-menu-item button:hover,
.zh-toggle-button.selected:hover,
.zh-todolist-today-separator, .zh-todolist-completed-separator,
.zh-todolist-menu.ui-sortable-helper, .zh-epic-issue-progress-bar,
.zh-epic-creator-progress-bar, .zh-pipeline-badge-light, .zh-pipeline-badge {
  background: #333 !important;
}
.zh-chart .yaxis-strips .hstripe:nth-child(2n) {
  fill: #222 !important;
}
.zh-board-readonly-banner {
  background: #182030 !important;
}
/* border */
.zh-paw-btn-inner, .zh-schema, .zh-schema-pipeline-name, .popover,
.zh-uploader-drop, .zh-milestone-dates, .zh-burndown-chart-container,
.zh-burndown-chart .stats-container, .popover li,
.zh-pipeline-collapsed .zh-pipeline-options,
.zh-todolist-menu.ui-sortable-helper, .zh-new-pipeline-header,
.zh-issuecard-main, .zh-onboarding-tooltip-title, .zh-onboarding-modal-title,
.zh-multi-repo-show-one-btn:disabled,
.zh-multi-repo-show-one-btn:disabled:hover, .zh-select-menu-item,
.zh-epic-creator-picker-container, .zh-epic-creator-nav, .zh-board-menu,
.zh-issuecard-meta, .logos-download {
  border-color: #343434 !important;
}
.file-commit-form .commit-form:before, .file-commit-form .commit-form:after,
.zh-burndown .stats-item, .zh-todopage-menu, .popover.right .arrow {
  border-right-color: #343434 !important;
}
.zh-onboarding-tooltip-w:after, .popover.left .arrow {
  border-left-color: #343434 !important;
}
/* text */
.zh-uploader-container *, .zh-overlay-body, .zh-pipeline-issue-action,
.zh-board-menu-item button.selected .octicon, .zh-todolist-create:hover,
.zh-onboarding-modal *, .zh-onboarding-tooltip-target,
.zh-onboarding-tooltip *, .zh-select-menu-title,
.zh-epic-creator-tab.selected, .zh-delete-epic-button:hover {
  color: #fff !important;
}
.popover li, .zh-epic-creator-tab {
  color: #ccc !important;
}
.zh-schema-pipeline-name, #zh-export-issue-json .octicon-file-directory,
.zh-board-menu-item .toggle-button .octicon {
  color: #888 !important;
}
.zh-sidebar-icon {
  opacity: 1 !important;
  -webkit-filter: brightness(2) !important;
          filter: brightness(2) !important;
}
.zh-icon-column-expand, .zh-icon-expand, .zh-icon-column-collapse,
.zh-icon-compress {
  -webkit-filter: brightness(4) !important;
          filter: brightness(4) !important;
}
/* ZenHub buttons */
.zh-btn, .zh-delete-epic-button {
  background: linear-gradient(#282828,#181818) !important;
  border-color: #383838 !important;
}
.zh-delete-epic-button {
  color: #c31e16 !important;
}
.zh-btn:hover {
  background: linear-gradient(#444,#333) !important;
  border-color: #484848 !important;
}
.zh-delete-epic-button:hover {
  background: #911 !important;
  border-color: #b00 !important;
}
/* tooltip */
.popover {
  background: #222 !important;
}
.popover, .zh-select-menu-title, .is-pawed .zh-paw-btn-inner {
  box-shadow: none !important;
  text-shadow: none !important;
}
/* button tweaks */
.zh-repo-switcher .select-menu-button {
  padding: 1px 6px 2px 4px !important;
}
.zh-repo-switcher .select-menu-button:after {
  vertical-align: 0 !important;
}
.zh-octicon-list-unordered {
  height: 14px !important;
}
.zh-board-menu-itemgroup .minibutton {
  border: #343434 1px solid !important;
  padding: 4px !important;
  border-radius: 3px !important;
  color: #c0c0c0 !important;
}
#zh-show-closed-pipeline-checkbox {
  vertical-align: middle !important;
}
/* vote */
.is-not-pawed .zh-paw-btn-inner, .zh-split-button-icon {
  background: transparent !important;
  border: #484848 1px solid !important;
}
.is-pawed .zh-paw-btn-inner {
  background: #207038 !important;
  color: #333 !important;
}
.zh-paw-btn-count, .zh-todo-link span {
  color: #ddd !important;
}
/* invert image */
.zh-octicon-x {
  -webkit-filter: invert(40%) !important;
          filter: invert(40%) !important;
}
.zh-todo-icon-today-dark-grey, .zh-overlay-loading-board, .zh-octicon-search,
.zh-octicon-grey, .zh-octicon-grey-light, .zh-octicon-gear, .zh-overlay-body,
.zh-pipeline-actions .zh-pipeline-icon, .zh-toggle-button .octicon > span,
.zh-octicon-issue-closed, .zh-octicon-git-pull-request,
.zh-octicon-list-unordered, .zh-octicon-check, .zh-octicon-inbox,
.zh-octicon-plus, .zh-octicon-chevron-down, .zh-octicon-pencil,
.zh-octicon-issue-opened, .zh-board-menu-itemgroup svg, .zh-icon-storypoint,
.zh-pipeline-issue-action i {
  -webkit-filter: invert(100%) !important;
          filter: invert(100%) !important;
}
/* move expanded zenhub board toolbar when octotree exists
 see https://github.com/buunguyen/octotree/issues/242 */
html.octotree:not(.octotree-show) .zh-board-expanded .zh-board-menu .tabnav-left {
  margin-left: 20px;
}