/* invert (rgb) */
#network .repo img:not(.gravatar), #header .logo,
img[src="/images/logo@2x.png"], .site-logo a,
.github-jobs-promotion a.jobs-logo strong, iframe[src*="polldaddy.com"],
.jstree-icon.jstree-ocl, .octotree_toggle .loader,
.swipe .swipe-frame .swipe-bar .top-handle,
.swipe .swipe-frame .swipe-bar .bottom-handle,
.onion-skin .controls .transparent, .onion-skin .controls .opaque,
.onion-skin .controls .slider .slider-track,
.onion-skin .controls .slider .slider-track .dragger, .leaflet-control-zoom a,
.leaflet-control-attribution.leaflet-compact-attribution:after,
img[src$="favicons.githubusercontent.com/github.com"],
img[src$="invertocat.png"] {
  -webkit-filter: invert(100%) hue-rotate(180deg) !important;
          filter: invert(100%) hue-rotate(180deg) !important;
}
/* invert problematic emoji images */
[title=":soon:"], [title=":on:"], [title=":end:"],
[title=":heavy_dollar_sign:"], [title=":registered:"],
[title=":tm:"], [title=":heavy_multiplication_x:"],
[title=":heavy_plus_sign:"], [title=":heavy_minus_sign:"],
[title=":heavy_division_sign:"], [title=":heavy_check_mark:"],
[title=":arrows_clockwise:"], [title=":wavy_dash:"],
[title=":curly_loop:"], [title=":copyright:"],
[title=":currency_exchange:"], [title=":top:"],
[title=":back:"], [title=":zzz:"], [title=":notes:"],
[title=":musical_score:"], [title=":black_large_square:"]
[title=":black_medium_small_square:"], [title=":ant:"] {
  -webkit-filter: invert(100%) hue-rotate(180deg) !important;
          filter: invert(100%) hue-rotate(180deg) !important;
  background: transparent !important;
}
g-emoji > img.emoji {
  -webkit-filter: none !important;
          filter: none !important;
  background: transparent !important;
}
/* Exclude problematic non-emojis, use tools/unicode-gen.js to generate */
@font-face {
  font-family: "Apple Color Emoji";
  src: local("Apple Color Emoji");
  unicode-range: U+00000-000A8,U+000AA-000AD,U+000AF-02121,U+02123-025A9,
                 U+025AB-025FB,U+025FD-025FD,U+025FF-0265F,U+02661-02662,
                 U+02664-02713,U+02715-02715,U+02717-0302F,U+03031-10FFFF;
}
/* Exclude problematic emojis, use tools/unicode-gen.js to generate */
g-emoji[fallback-src$="2795.png"], g-emoji[fallback-src$="2796.png"],
g-emoji[fallback-src$="2797.png"], g-emoji[fallback-src$="27b0.png"],
g-emoji[fallback-src$="2b1b.png"], g-emoji[fallback-src$="25fe.png"],
g-emoji[fallback-src$="1f3b6.png"], g-emoji[fallback-src$="1f3bc.png"],
g-emoji[fallback-src$="1f4b1.png"], g-emoji[fallback-src$="1f4b2.png"],
g-emoji[fallback-src$="1f503.png"], g-emoji[fallback-src$="1f519.png"],
g-emoji[fallback-src$="1f51a.png"], g-emoji[fallback-src$="1f51b.png"],
g-emoji[fallback-src$="1f51c.png"], g-emoji[fallback-src$="1f51d.png"] {
  -webkit-filter: invert(83%) !important;
          filter: invert(83%) !important;
}
/* GeoJSON maps */
/* https://github.com/benbalter/dc-maps/blob/master/maps/embassies.geojson */
.leaflet-tile-container img {
  -webkit-filter: invert(100%) hue-rotate(180deg) brightness(150%) !important;
          filter: invert(100%) hue-rotate(180deg) brightness(150%) !important;
}
.leaflet-marker-pane img {
  -webkit-filter: brightness(.8) !important;
          filter: brightness(.8) !important;
}
/* Jupyter graphs, match #181818 on the background */
/* https://github.com/sujitpal/statlearning-notebooks/blob/master/src/chapter2.ipynb */
.output_area img {
  -webkit-filter: invert(90.5%) hue-rotate(180deg) saturate(200%) !important;
          filter: invert(90.5%) hue-rotate(180deg) saturate(200%) !important;
}
/* brighten language colors */
.language-color {
  -webkit-filter: brightness(150%) !important;
          filter: brightness(150%) !important;
}
/* slightly darker */
.more-repos-link {
  -webkit-filter: brightness(.666) !important;
          filter: brightness(.666) !important;
}
/* filter reset */
.more-repos-link:hover {
  -webkit-filter: brightness(1) !important;
          filter: brightness(1) !important;
}
